.content button,
.sidebar button {
    cursor: pointer;
    background-color: var(--color-darkslateblue);
    color: var(--color-whitesmoke);
    border-radius: 50px
}

.content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 350px;
    left: 100px;
    width: 80%
}

.personalImg,
.sideIcon,
.sidebar button {
    display: -webkit-box;
    display: -ms-flexbox
}

.sidebar button,
.sinfo {
    left: 1100px;
    position: absolute
}

.content button {
    padding: 2px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 50px
}

.content button:hover {
    background-color: var(--color-whitesmoke);
    color: #030303;
    -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5)
}

.sinfo {
    height: 550px;
    width: 300px;
    background-color: var(--color-sandybrown);
    top: 300px;
    border-radius: 10px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.sidebar button {
    display: flex;
    top: 290px;
    margin-top: 10px;
    margin-left: 70px;
    font-size: 30px
}

.message button,
.sidebar button:hover {
    background-color: var(--color-sandybrown)
}

.sidebar button:hover {
    color: var(--color-darkslateblue);
    -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5)
}

.personalImg {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px
}

.personalImg img {
    width: 90px;
    height: 100px;
    border-radius: 50px
}

.name {
    text-align: center;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 600;
    color: #000
}

.sideIcon {
    display: flex;
    margin: 50px 50px 50px 15px
}

.sideIcon p {
    color: #000;
    margin: 2px 2px 2px 8px;
    font-size: 20px
}

.message {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 850px;
    left: 1450px
}

.message button {
    width: 50px;
    height: 50px
}