.content form input,
.content form span {
    font-size: 20px;
    color: var(--color-darkslateblue)
}

.content form input,
.sinfo {
    background-color: var(--color-sandybrown)
}

.content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 350px;
    left: 100px;
    width: 80%
}

.content form {
    position: absolute;
    top: 150px;
    left: 850px;
    display: inline
}

.content form span {
    font-weight: 600px;
    width: 300px;
    margin-left: 5px
}

.content form input {
    height: 40px;
    width: 150px
}

.content form button,
.sidebar button {
    cursor: pointer;
    background-color: var(--color-darkslateblue);
    color: var(--color-whitesmoke);
    font-size: 30px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    position: absolute
}

.content form button {
    display: flex;
    top: 5px;
    left: 210px
}

.content form button:hover,
.sidebar button:hover {
    background-color: var(--color-sandybrown);
    color: var(--color-darkslateblue);
    -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5)
}

.sinfo {
    position: absolute;
    height: 550px;
    width: 300px;
    top: 300px;
    left: 1100px;
    border-radius: 10px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.sidebar button {
    display: flex;
    top: 290px;
    left: 1100px;
    margin-top: 10px;
    margin-left: 70px
}

.personalImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px
}

.personalImg img {
    width: 90px;
    height: 100px;
    border-radius: 50px
}

.name {
    text-align: center;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 600;
    color: #000
}

.sideIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 50px 50px 15px
}

.sideIcon p {
    color: #000;
    margin: 2px 2px 2px 8px;
    font-size: 20px
}

.message {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 850px;
    left: 1450px
}

.message button {
    background-color: var(--color-sandybrown);
    width: 50px;
    height: 50px
}