*,
.context {
    -webkit-box-sizing: border-box
}

.myProduct,
.titlePage {
    top: 300px;
    position: absolute
}

.context .name,
.context .price,
.context .priceText,
.context .time {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-whitesmoke);
    padding: .3rem 0
}

* {
    box-sizing: border-box
}

.myProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

body {
    margin: 0;
    padding: 0
}

.titlePage {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    left: 40%;
    margin: 10px;
    color: var(--color-darkslateblue)
}

.context {
    width: 75%;
    top: 80px;
    border-radius: 1rem;
    padding: 5px;
    max-width: 20rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: var(--color-darkslategray);
    position: relative;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5)
}

.context:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .5);
    -webkit-transition: -webkit-transform .6s ease-out, -webkit-box-shadow .6s ease-out;
    transition: transform .6s ease-out, box-shadow .6s ease-out, -webkit-transform .6s ease-out, -webkit-box-shadow .6s ease-out;
    -o-transition: transform .6s ease-out, box-shadow .6s ease-out
}

.context::before {
    opacity: 1
}

.context:hover .edit {
    visibility: visible
}

.context .edit {
    position: absolute;
    background-color: var(--color-whitesmoke);
    top: 95%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    visibility: hidden
}

.image {
    width: 90%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px
}

.myProduct {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 90%;
    left: 90px;
    padding: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.context .time {
    font-size: 1.2rem
}

.context .name,
.context .price {
    font-size: 1.3rem;
    font-weight: 700
}

.context .priceText {
    font-size: 2rem;
    font-weight: 700
}

@media screen and (max-width:768px) {
    .myProduct {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr)
    }
}